h2 i {
    font-size: 60px;
    color: green;
    margin-bottom: 20px;
    margin-top: 20px;
}

.rent-btn {
    margin-top: 20px;
}

.resume-order {
    margin-top: 20px;
}

.text-desc {
    color: #aaaaaa !important;
}

.orders {
    color: var(--red);
}

.orders:hover {
    text-decoration: none;
}