<body>
    <div class="container">
        <div class="img">
            <img src="../../assets/login/ilus.svg" alt="ilustration">
        </div>
    <div class="login-container">
        <form >
            <img class="avatar" src="../../assets/login/avatar.svg" alt="avatar">
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-envelope"></i>
                </div>
                <div>
                    <!-- email -->
                    <input [(ngModel)]="loginUser.email" name="email" class="input" type="text" #txtEmail placeholder="Email address">
                </div>
            </div>
            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div>
                    <!-- password -->
                    <input [(ngModel)]="loginUser.password" name="password" class="input" type="password" placeholder="Password">
                </div>
            </div>
            <!-- boton -->
            <button (click)="login()" (click)="sendEmail(txtEmail.value)" class="btn">Login</button>
            <!-- fin-boton -->
            <a routerLink="/signup">Need an account? <span>Sign up here!</span></a>
        </form>
    </div>
    </div>
</body>