<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="../../assets/avatar.svg" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">Martin Pinto
                                <label class="label label-info"><i class="fas fa-user"></i> Admin</label>
                            </li>
                        </ul>
                    </div>
                <nav class="side-menu">
                  <ul class="nav">
                    <li routerLinkActive="active">
                        <a routerLink="/admin/orders">
                            <span class="fa fa-shopping-cart"></span> Orders
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin/users">
                            <span class="fa fa-user"></span> Users
                        </a>
                    </li>
                    <li routerLinkActive="active">
                      <a routerLink="/admin/upload">
                          <span class="fas fa-file-upload"></span> Uploads
                      </a>
                  </li>
                    <li routerLinkActive="active">
                      <a routerLink="/admin/movies">
                          <span class="fas fa-video"></span> Movies
                      </a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/admin/actors">
                        <span class="fas fa-theater-masks"></span> Actors
                    </a>
                </li>
                <li routerLinkActive="active">
                  <a routerLink="/admin/genres">
                      <span class="fa fa-film"></span> Genres
                  </a>
              </li>
                </ul>
              </nav>
                </div>
                <!-- Profile -->
                <div class="content-panel">
                    <form class="form-horizontal">
                        <div class="col-md order-md-1 form-rent">
                            <h4 class="mb-3">Clients orders</h4>
                            <div class="d-flex justify-content-left h-100">
                              <div class="searchbar">
                                <input id="input-search" class="search_input" type="text" [(ngModel)]="searchOrders" [ngModelOptions]="{standalone: true}" autocomplete="off" placeholder="Search by title, actor or genre...">
                                  <a id="btnSearch" class="search_icon"><i class="fas fa-search"></i></a>
                              </div>
                            </div>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">order-id</th>
                                    <th scope="col">movie</th>
                                    <th scope="col">user</th>
                                    <th scope="col">from</th>
                                    <th scope="col">to</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">5e9b068e941f4027d546535d</th>
                                    <td>Jumanji: The Next Level</td>
                                    <td>martin@gmail.com</td>
                                    <td>05/05/2020</td>
                                    <td>09/04/2020</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5e9b0697941f4027d54686lo</th>
                                    <td>The Hunt</td>
                                    <td>jose@gmail.com</td>
                                    <td>01/04/2020</td>
                                    <td>05/04/2020</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5e9b0697941f4027d546533l</th>
                                    <td>Like a Boss</td>
                                    <td>pedro@gmail.com</td>
                                    <td>02/04/2020</td>
                                    <td>09/04/2020</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5e9b0697941f4027d54633th</th>
                                    <td>Just Mercy</td>
                                    <td>cristina@gmail.com</td>
                                    <td>02/04/2020</td>
                                    <td>09/04/2020</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5e9b0697941f4027d5467l6</th>
                                    <td>Aladdin</td>
                                    <td>juan@gmail.com</td>
                                    <td>02/04/2020</td>
                                    <td>09/04/2020</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5e9b0697941f4027d5461d66</th>
                                    <td>Train to Busan</td>
                                    <td>martin@gmail.com</td>
                                    <td>30/03/2020</td>
                                    <td>02/04/2020</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5e9b0697941f4027d546001u</th>
                                    <td>Little Women</td>
                                    <td>maria@gmail.com</td>
                                    <td>02/04/2020</td>
                                    <td>09/04/2020</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5e9b0697941f4027d5461g50</th>
                                    <td>Yesterday</td>
                                    <td>ana@gmail.com</td>
                                    <td>21/03/2020</td>
                                    <td>26/03/2020</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5e9b0697941f4027d54640f9</th>
                                    <td>Apollo 11</td>
                                    <td>martin@gmail.com</td>
                                    <td>17/03/2020</td>
                                    <td>22/03/2020</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5e9b0697941f4027d546594z</th>
                                    <td>Maverick</td>
                                    <td>martin@gmail.com</td>
                                    <td>12/01/2020</td>
                                    <td>17/01/2020</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5e9b0697941f4027d54645kt</th>
                                    <td>Jojo Rabbit</td>
                                    <td>martin@gmail.com</td>
                                    <td>20/12/2019</td>
                                    <td>23/12/2019</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>