.table {
    color: white;
}

.table td,
.table th {
    border-bottom: 1px solid #242424;
    border-top: 1px solid #242424;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #242424;
    border-top: 1px solid #242424;
}

a {
    color: #aaaaaa;
    text-decoration: none;
    background-color: transparent;
    margin-right: 12px;
}
