<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="../../assets/avatar.svg" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">Martin Pinto
                                <label class="label label-info"><i class="fas fa-globe-europe"></i> Valencia</label>
                            </li>
                            <li class="email"><a href="#">martin@pinko.com</a></li>
                        </ul>
                    </div>
                    <nav class="side-menu">
                        <ul class="nav linkstyle">
                            <li routerLinkActive="active"><a routerLink="/profile">
                                <span class="fa fa-user"></span> Profile</a></li>
                            <li routerLinkActive="active"><a routerLink="/my-orders"><span class="fa fa-shopping-cart"></span> My Orders</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- My Orders -->
                <div class="content-panel">
                    <div class="col-md-12 order-md-1 form-rent">
                        <h4 class="mb-3">My Orders</h4>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Past orders</a>
                              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Recent orders</a>
                              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="fas fa-search"></i> Search</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 col-md-6">
                                        <div class="mb-2">
                                            <a routerLink="/movie">
                                                <img class="card-img-top" src="../../assets/main-bg5.jpg">
                                            </a>
                                        </div>
                                            <div><p class="movietitle">Bad Boys for Life</p></div>
                                            <div>Return date: <i class="far fa-calendar"></i> 02/04/20</div>
                                            <div><a routerLink="/rent-movie" class="rent-again">> Rent this movie again</a></div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 col-md-6">
                                        <div class="mb-2">
                                            <a routerLink="/movie">
                                                <img class="card-img-top" src="../../assets/main-bg2.jpg">
                                            </a>
                                        </div>
                                        <div><p class="movietitle">Bad Boys for Life</p></div>
                                            <div>Return date: <i class="far fa-calendar"></i> 02/04/20</div>
                                            <div><a routerLink="/rent-movie" class="rent-again">> Rent this movie again</a></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 col-md-6">
                                        <div class="mb-2">
                                            <a routerLink="/movie">
                                                <img class="card-img-top" src="../../assets/main-bg3.jpg">
                                            </a>
                                        </div>
                                        <div><p class="movietitle">Bad Boys for Life</p></div>
                                            <div>Return date: <i class="far fa-calendar"></i> 02/04/20</div>
                                            <div><a routerLink="/rent-movie" class="rent-again">> Rent this movie again</a></div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 col-md-6">
                                        <div class="mb-2">
                                            <a routerLink="/movie">
                                                <img class="card-img-top" src="../../assets/main-bg4.jpg">
                                            </a>
                                        </div>
                                        <div><p class="movietitle">Bad Boys for Life</p></div>
                                            <div>Return date: <i class="far fa-calendar"></i> 02/04/20</div>
                                            <div><a routerLink="/rent-movie" class="rent-again">> Rent this movie again</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 col-md-6">
                                        <div class="mb-2">
                                            <a routerLink="/movie">
                                                <img class="card-img-top" src="../../assets/main-bg5.jpg">
                                            </a>
                                        </div>
                                            <div><p class="movietitle">Bad Boys for Life</p></div>
                                            <div>Return date: <i class="far fa-calendar"></i> 02/04/20</div>
                                            <div><a routerLink="/rent-movie" class="rent-again">> Rent this movie again</a></div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 col-md-6">
                                        <div class="mb-2">
                                            <a routerLink="/movie">
                                                <img class="card-img-top" src="../../assets/main-bg2.jpg">
                                            </a>
                                        </div>
                                        <div><p class="movietitle">Bad Boys for Life</p></div>
                                            <div>Return date: <i class="far fa-calendar"></i> 02/04/20</div>
                                            <div><a routerLink="/rent-movie" class="rent-again">> Rent this movie again</a></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 col-md-6">
                                        <div class="mb-2">
                                            <a routerLink="/movie">
                                                <img class="card-img-top" src="../../assets/main-bg3.jpg">
                                            </a>
                                        </div>
                                        <div><p class="movietitle">Bad Boys for Life</p></div>
                                            <div>Return date: <i class="far fa-calendar"></i> 02/04/20</div>
                                            <div><a routerLink="/rent-movie" class="rent-again">> Rent this movie again</a></div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 col-md-6">
                                        <div class="mb-2">
                                            <a routerLink="/movie">
                                                <img class="card-img-top" src="../../assets/main-bg4.jpg">
                                            </a>
                                        </div>
                                        <div><p class="movietitle">Bad Boys for Life</p></div>
                                            <div>Return date: <i class="far fa-calendar"></i> 02/04/20</div>
                                            <div><a routerLink="/rent-movie" class="rent-again">> Rent this movie again</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>