<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="../../assets/avatar.svg" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">Martin Pinto
                                <label class="label label-info"><i class="fas fa-globe-europe"></i> Valencia</label>
                            </li>
                            <li class="email">
                                <p>martin@gmail.com</p>
                              </li>
                        </ul>
                    </div>
                    <nav class="side-menu">
                        <ul class="nav linkstyle">
                            <li routerLinkActive="active"><a routerLink="/profile">
                                <span class="fa fa-user"></span> Profile</a></li>
                            <li routerLinkActive="active"><a routerLink="/my-orders"><span class="fa fa-shopping-cart"></span> My Orders</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- My Orders -->
                <div class="content-panel">
                    <div class="col-md-12 order-md-1 form-rent">
                        <h4 class="mb-3">My Orders</h4>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Past orders</a>
                              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Recent orders</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="d-flex h-100">
                                    <div class="searchbar">
                                      <input id="input-search" class="search_input" type="text" [(ngModel)]="searchOrders" [ngModelOptions]="{standalone: true}" autocomplete="off" placeholder="Search by title or date">
                                        <a id="btnSearch" class="search_icon"><i class="fas fa-search"></i></a>
                                    </div>
                                  </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 col-md-6">
                                        <div class="mb-2">
                                            <a routerLink="/movie">
                                                <img class="card-img-top" src="https://image.tmdb.org/t/p/original/iLET7OUodN38RK3BVCMz4BwT8C2.jpg">
                                            </a>
                                        </div>
                                            <div><p class="movietitle">Train to Busan</p></div>
                                            <div>Return date: <i class="far fa-calendar"></i> 02/04/20</div>
                                            <div><a routerLink="/rent-movie" class="rent-again">> Rent this movie again</a></div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 col-md-6">
                                        <div class="mb-2">
                                            <a routerLink="/movie">
                                                <img class="card-img-top" src="https://image.tmdb.org/t/p/original/hmdZwfNwO2tdC7ypa33Q6cEJsy0.jpg">
                                            </a>
                                        </div>
                                        <div><p class="movietitle">Apollo 11</p></div>
                                            <div>Return date: <i class="far fa-calendar"></i> 22/03/20</div>
                                            <div><a routerLink="/rent-movie" class="rent-again">> Rent this movie again</a></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 col-md-6">
                                        <div class="mb-2">
                                            <a routerLink="/movie">
                                                <img class="card-img-top" src="https://image.tmdb.org/t/p/original/ctzKCslTsMRsOJNvAm1Mw8ytiHY.jpg">
                                            </a>
                                        </div>
                                        <div><p class="movietitle">Maverick</p></div>
                                            <div>Return date: <i class="far fa-calendar"></i> 17/01/20</div>
                                            <div><a routerLink="/rent-movie" class="rent-again">> Rent this movie again</a></div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 col-md-6">
                                        <div class="mb-2">
                                            <a routerLink="/movie">
                                                <img class="card-img-top" src="https://image.tmdb.org/t/p/original/lTyikzfGgRX5ZqIfVeT26APYfRL.jpg">
                                            </a>
                                        </div>
                                        <div><p class="movietitle">Jojo Rabbit</p></div>
                                            <div>Return date: <i class="far fa-calendar"></i> 23/12/19</div>
                                            <div><a routerLink="/rent-movie" class="rent-again">> Rent this movie again</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="d-flex h-100">
                                    <div class="searchbar">
                                      <input id="input-search" class="search_input" type="text" [(ngModel)]="searchOrders" [ngModelOptions]="{standalone: true}" autocomplete="off" placeholder="Search by title or date">
                                        <a id="btnSearch" class="search_icon"><i class="fas fa-search"></i></a>
                                    </div>
                                  </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 col-md-6">
                                        <div class="mb-2">
                                            <a routerLink="/movie">
                                                <img class="card-img-top" src="https://image.tmdb.org/t/p/original/oLma4sWjqlXVr0E3jpaXQCytuG9.jpg">
                                            </a>
                                        </div>
                                            <div><p class="movietitle">Jumanji: The Next Level</p></div>
                                            <div>Return date: <i class="far fa-calendar"></i> 08/05/20</div>
                                            <div><a routerLink="/rent-movie" class="rent-again">> Rent this movie again</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>