<div class="container">
  <div class="py-4 text-center">
    <h2 class="rent-title">Your rental details</h2>
  </div>      
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <div class="rent-title form-rent">Your cart</div>
        <div class="badge badge-secondary badge-pill">1</div>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{movie.title}}</h6>
            <small class="text-muted">3 days (from 05.05.20 to 08.05.20) </small>
          </div>
          <span class="text-muted">€ {{movie.price}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Shipping to Valencia</h6>
            <small class="text-muted">Jose Benlliure 12, Valencia</small>
          </div>
          <span class="text-muted">€ 2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (€)</span>
          <strong>€9</strong>
      </ul>
      <div class="rent-img">
        <img src="{{movie.poster}}" alt="" style="width: 100%;">
      </div>
    </div>
    <div class="col-md-8 order-md-1 form-rent">
      <h4 class="mb-3">Billing address</h4>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Make your order <strong>now</strong> and recive it <strong>tomorrow! </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="rental-days">Rental days</label>
              <select class="custom-select d-block w-100" id="rental-days">
                <option value="">3 days</option>
                <option value="">5 days (+2€)</option>
                <option value="">7 days (+3€)</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" value="martin@gmail.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="Martin">
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="Pinto">
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="" value="Jose Benlliure, 12">
        </div> 
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select class="custom-select d-block w-100" id="country">
              <option value="">Spain</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">Province</label>
            <select class="custom-select d-block w-100" id="state">
              <option value="">Valencia</option>
            </select>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="" value="46011">
          </div>
        </div>
        <hr class="mb-4">
        <h4 class="mb-3">Payment</h4>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" value="Martin Pinto">
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" value="1234 5678 9876 5432">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="" value="10/22">
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">CVV</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="" value="123">
          </div>
        </div>
        <hr class="mb-4">
        <button class="rent-btn btn-lg btn-block" type="submit" (click)="getMovie()">Continue to checkout</button>
      </form>
    </div>